.hearder{
    /* background-color: #f1f1f1; */
    /* padding: 20px; */
    text-align: left;
    font-size: 35px;
    height: 10px;
    margin-top: 0px;
    margin-left: 5%;
    /* color: #4CAF50; */
}
.paragraph{
    /* background-color: #f1f1f1; */
    /* padding: 20px; */
    text-align: left;
    margin-left: 5%;
    font-size: 18px;
    /* height: 0px; */
    margin-top: 0px;
    /* color: #4CAF50; */
}